#manual-resolver .terms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 1rem 0;
}

#manual-resolver .terms i {
  font-size: 3rem;
  text-align: center;
}

#manual-resolver .terms .dice-term-faces {
  text-align: center;
}

#manual-resolver .terms .dice-term {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

#manual-resolver .terms .dice-term.fulfilled {
  border-color: #075207;
}
